.container{
    max-width: 100%;
}
.container-room-p{
    display: flex;
    justify-items: left;
    padding-top: 20px;
}
.container-first-div{
    display: flex;
    justify-content: right;
    margin-top: -120px;
}
.container-second-div{
   display: flex;
   justify-content: right;
}
.container-btn{
    width: 40px;
    height: 40px;
    border: 0.5px solid rgb(109, 164, 237);
    background-color: aliceblue;
    border-radius: 5px;
    color: blue;
    margin: 5px;
    font-style: x-larger;
    margin-inline: 20px;
    font-size: x-large;
}
.container-first-p{
  display: flex;
  justify-items: left;
  padding-top: 15px;
}
.container-second-p{
  display: flex;
  justify-items: left;
  padding-top: 25px;
}
.container-p{
    margin-top: 10px;
    padding: 5px;
}
  .container-first-btn{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 100px;
  }