.footbar{
    max-width: 100%;
    height: 50px;
    border: 1px solid lightblue;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(43, 92, 177);;
    /* display: none; */
    position: relative;
    color: white;
    font-size: large;
   }
   .footer-search{
    margin-top: 15px;
    position: absolute;
    left: 600px;
  }
  .footer-p{
    position: absolute;
    left: 630px;
    top: 10px;
  }
   