
.children{
  height: 50px;
}
.children-p{
  display: flex;
  justify-items: left;
  margin: 10px;
}
.children-select{
    border-radius: 10px;
    width: 100px;
    height: 45px;
    border: 1px solid lightblue;
    display: flex;
    justify-items: right;  

  }
.children-icon{
    color: red;
    display: flex;
   justify-items: right;
   margin: 10px
  }
  .children-div{
    display: flex;
    justify-content: right;
  }
